<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8""></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1>The Record Shop</h1>
      <div class="main">

        <% for(let i = 0; i <products.length; i++) { %>
          <div class="container">
            <div class="card">
                <p>
                <%=products[i].title%><br />
                <%=products[i].artist%>
                </p>
                <a href="/<%=products[i].id%>">
                <img src="<%=products[i].img%>" alt="">
                </a>
            </div>
          </div>
      <%  }  %>
    </div>
    <div id="list-builder"></div>
    <div id="popup-box">
      <a id="popup-close">X</a>
      <div id="popup-box-content">
        <h1>Never Miss a Beat</h1>
        <h3>Subscribe to our Newsletter</h3>
        <p>
          Be the first to know when new releases are coming.<br>
          Exclusive invites to meet-and-greets with your favorite artists
        </p>
        <form id="popup-form" action="/" method="post">
          <input type="text" name="name" placeholder="Full Name"><br>
          <input type="text" name="email" value="Email Address">
          <button type="button" name="subscribe">Subscribe</button>
        </form>
      </div>

    </div>
    <footer>
    <nav>
      <ul>
        <li><a href=""><img src="https://www.flaticon.com/svg/static/icons/svg/60/60580.svg" class="social"></a></li>
        <li><a href=""><img src="https://icon-library.net/images/instagram-icon-black-and-white-png/instagram-icon-black-and-white-png-9.jpg" class="social"></a></li>
        <li><a href="/new">Create New Item</a></li>
      </ul>
    </nav>
    </footer>
  </body>
</html>
