<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Show Page</h1>
    <a href="/">Back to Home</a>
    <h3>
    <%=products.title%>
    <%=products.artist%>
    </h3>
    <img src="<%=products.img%>" alt="">
    <h4>
    Price: $<%=products.price%>
    In Stock: <%=products.qty%>
    </h4>
  </body>
</html>
